:host{
z-index: 200;
}

.container {
  height: 2.4em;
  background-color: black;
  position: fixed;
  top: 4.2em;
  width: 100%;
  z-index: 2000;
}

.title, .artist{
  color:white;
  margin-left:1.2em;
}

.artist{

}
