.article{
  /*opacity: 0.1;*/
}

.image{
  margin: 0 0 6px;
  width: 100%;
}

.title {
  font-style: italic;
}

.artist {
  text-transform: uppercase;
  font-style: normal;
  /*font-size: 13px;*/
  color: #333;
}
