:host{
  position: fixed;
  top: 0 !important;
  height: 4.8em;
  margin: 0;
  z-index: 100;
  background: #fff;
  /*zoom: 1;*/
  /*filter: alpha(opacity=95);*/
  opacity: 0.8;
  width: 100%;
  /*background-color: antiquewhite;*/
}

#front {
  width: inherit;
  /*height: auto;*/
  top: 0;
}

#logo {
  position: absolute;
  background:  url(/assets/shape-production_logo.png) no-repeat center center;
  background-size: 100% 100%;
  top:1.2em;
  left:2.4em;

  height:2.4em;
  width:300px;
}

#border {
  position: absolute;
  border-bottom: 1px solid #000;
  bottom: 0;
  left:0;
  width: 100%;
}

nav {
  margin:auto;

}

nav ul {
  position: absolute;
  right: 2.4em;
  bottom: 1.2em;
  padding: 0;
  list-style: none !important;
  list-style-image: none !important;
  margin: 0;
}


.menuItem{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
}

.menuItemLink{
  color: #999;
  text-decoration: none;
}

.menuItemLink:hover{
  color: black;
}

.current{
  color: black;
}

.instagram{
  height:32px;
  /*object-fit: none;*/
  object-position: 50% 50%; /* default value: image is centered*/
  opacity: 0.8;
  margin-bottom: -8px;
}

.instagram:hover{
  opacity: 1;
}
