$sm: 800px;
$lg: 1200px;

:host{
}

.front {
  width: 100%;
  position: fixed;
  top: 0 !important;
  height: 4.2em;
  margin: 0;
  z-index: 100;
  background: rgba(255,255,255,1);
  width: 100%;
  transform: translate(0em, -4.8em);
  opacity: 0;
  transition: all 0.4s;
}

.init{
  opacity: 1;
  transform: translate(0, 0px);
}

#logo {
  position: absolute;
  //background:  url(./assets/shape-production_logo.png) no-repeat center center;
  background:  url(/assets/shape-production_logo.png) no-repeat center center;
  background-size: 100% 100%;
  top:1.2em;
  //left:2.4em;
  left:1.2em;
  //height:2.4em;
  width:200px;
  height:1.6em;
  @media screen and (max-width: $sm) {
    //background-size: 50% 50%;
    float: right;
    //width:150px;
    margin: 0 auto;
  }
}

#border {
  position: absolute;
  border-bottom: 3px solid #CCC;
  bottom: 0;
  left:0;
  width: 100%;
}

nav {
  margin:auto;

}

nav ul {
  position: absolute;
  right: 1.2em;
  bottom: 1.2em;
  padding: 0;
  list-style: none !important;
  list-style-image: none !important;
  margin: 0;
}


.menuItem{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
}

.menuItemLink{
  color: #999;
  text-decoration: none;
}

.menuItemLink:hover{
  color: black;
}

.active{
  color: black;
}

.instagram{
  height:32px;
  /*object-fit: none;*/
  object-position: 50% 50%; /* default value: image is centered*/
  opacity: 0.8;
  margin-bottom: -8px;
}

.instagram:hover{
  opacity: 1;
}
