<div id="front">
  <a id="logo" href="/"></a>
  <nav>
    <ul>
      <li class="menuItem"><a class="menuItemLink current" href="/">Latest</a></li>
      <li class="menuItem">///</li>
      <li class="menuItem"><a class="menuItemLink" href="/clients" >Clients</a></li>
      <li class="menuItem">///</li>
      <li class="menuItem"><a class="menuItemLink" href="/services" >Services</a></li>
      <li class="menuItem">///</li>
      <li class="menuItem"><a class="menuItemLink" href="/contact" >Contact</a></li>
      <li class="menuItem">///</li>
      <li class="menuItem"><a class="menuItemLink" href="http://www.instagram.com/peterduchastenier" target="_blank"><img class="instagram" src="/assets/Instagram_2016.svg"></a></li>

    </ul>
  </nav>
  <div id="border"></div>

</div>
