<div class="front" [class.init]="ngOnInit()">
  <a id="logo" routerLink="/latest" routerLinkActive="active"></a>
  <nav class="nav">
    <img id="hamburger" src="assets/img/menu.svg" alt="menu"/>
    <ul class="clearfix">
      <li class="menuItem"><a class="menuItemLink" routerLink="/latest" routerLinkActive="active" >Latest</a></li>
      <li class="menuItem">//</li>
      <li class="menuItem"><a class="menuItemLink" routerLink="/services" routerLinkActive="active" >Services</a></li>
      <li class="menuItem">//</li>
      <li class="menuItem"><a class="menuItemLink" routerLink="/clients" routerLinkActive="active" >Clients</a></li>
      <li class="menuItem">//</li>
      <li class="menuItem"><a class="menuItemLink" routerLink="/contact" routerLinkActive="active" >Contact</a></li>
    </ul>
  </nav>
</div>
