#main {
  margin: auto;
  transform: translate(0em, 7.2em);
  transition: all 0.4s;
  @media screen and (max-width: 768px) {
    transform: translate(0em, 5.1em);
  }
  @media screen and (max-width: 650px) {
    //transform: translate(0em, 4.2em);
  }
}

.centered {
  margin: 0 auto;
}

.asset {
  width: 320px;
  margin:.6em;
  @media screen and (max-width: 650px) {
    margin: .1em 0 ;
  }
  cursor: pointer;
}
