<div class="container">
  <div class="content">
    <h1>Services</h1>
    <div class="shapeServices">
      <p><span class="strong">SHAPE PRODUCTION</span> is a complete service production company which offers
        professional experience and knowledge effortlessly for your project from 
        conception to completion.
      </p>

      <p>We provide all aspects of production including art buying, 
        location scouting, casting, catering, and overall coordination.
        A smooth and experienced service is guaranteed from start to finish with the 
        highest level of communication and decision making.
      </p>

      <p>Shape Production is based in Paris with a world wide reach through our partnerships 
        specializing in luxury to commercial advertising including all sizes of event production
        and coordination, photo production, fashion film, video, digital content.
      </p>

    </div>
  </div>
</div>
