#main {
  //padding-top: 6.3em;
  margin: auto;
  transform: translate(0em, 6.3em);
  transition: all 0.4s;
  @media screen and (max-width: 768px) {
    transform: translate(0em, 4.2em);
  }
}

.centered {
  margin: 0 auto;
}

.serie {
  line-height: 0.9em;
  width: 320px;
  margin: 0 1.2em;
  @media screen and (max-width: 600px) {
    margin: 0;
  }
  margin-bottom: 1.2em;
  cursor: pointer;
}
