#main {
  padding-top: 6em;
  margin: auto;
}

.centered {
  margin: 0 auto;
}

.serie {
  line-height: 0.9em;
  width: 320px;
  margin: 0 1.2em;
  @media screen and (max-width: 600px) {
    margin: 0;
  }
  margin-bottom: 1.2em;
  cursor: pointer;
}
