#toto{
  width: 750px;
  height: 400px;
  margin-top: -200px;
  margin-left: -375px;
  top: 50%;
  left: 50%;
}

.container {
  max-width: 980px;
  margin: 60px auto;
}
.content {
  margin: 0 1.2em;

}

p{
  color:#999;
}
