<div class="container">
  <div class="content">
    <!--<div id="toto" #player_container></div>-->
    <h3>Direction</h3>
    <a target="_blank" href="https://tinyurl.com/ya43tp3d‬">1-5, Rue de la Noue // 93170 Bagnolet // France‬</a>


    <h3>TELEPHONE</h3>
    <a href="tel:+33-662-628-020‬">+33-662-628-020‬</a>

    <h3>Tobias</h3>
    <p>tobias@shape-producion.fr</p>


    <h3>INSTAGRAM</h3>
    <p>@shape_production</p>



    <a (click)="onAssetClick(i)" class="btn btn-primary"> Vimeo </a>

  </div>
</div>
