#main {
  padding-top: 6em;
  margin: auto;
  /*background-color: lightblue;*/
}
#page-wrap{
  background-color: #dfdfdf;
}

.centered {
  margin: auto;
  /*background-color: red;*/
}

.article {
  line-height: 0.9em;
  margin: 0;
  width: 380px;
  margin: 0 1.2em;
  margin-bottom: 1.2em;
  /*background-color: blue;*/
}

.refreshBtn {
  position: fixed;
  top: 10px !important;
  right: 10px;
  font-size: 50px;
  z-index: 500;
}

.loadMore {
  position: fixed;
  top: 10px !important;
  right: 200px;
  font-size: 50px;
  z-index: 500;
}
