<div id="page-wrap">
  <app-header></app-header>
  <!--<button class="refreshBtn" (click)="refreshed()">Retrace</button>-->
  <!--<button class="loadMore" (click)="loadMore()">loadMore</button>-->
  <div
    id="main"
    infinite-scroll
    [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()"
  >
    <masonry class="centered" #myMasonry [useImagesLoaded]="true" [options]="myOptions">
      <masonry-brick class="article" *ngFor="let serie of series ; let i = index">
        <app-article
          [article]="serie"
        ></app-article>
      </masonry-brick>
    </masonry>
    <!--<div [flickity]="{cellAlign: 'left', percentPosition: true, groupCells: true}">-->
    <!--<div  *ngFor="let child of children">{{child.title}}</div>-->
    <!--</div>-->
  </div>
</div>
