<app-header></app-header>
<button class="refreshBtn" (click)="refreshed()">Retrace</button>
<div
  id="main"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
  <masonry #myMasonry [useImagesLoaded]="true" [options]="myOptions">
    <masonry-brick class="article" *ngFor="let article of articles ; let i = index">
      <app-article
                   [article]="article"
      ></app-article>
    </masonry-brick>
  </masonry>
  <!--<div [flickity]="{cellAlign: 'left', percentPosition: true, groupCells: true}">-->
  <!--<div  *ngFor="let child of children">{{child.title}}</div>-->
  <!--</div>-->
</div>
