.container {
  max-width: 980px;
  margin: 60px auto;
}

.content {
  margin: 0 1.2em;
}

.justify {
  //display: flex;
  justify-content: space-between;
  text-align: justify;
}


ul {
  margin: 0;
  padding: 0;
  //display:flex;
  //flex-direction:column;
  //flex-wrap:wrap;
  //justify-content: flex-start;
  columns: 300px;
  column-fill: auto;

  //justify-content: space-between;
}

li {
  //min-width: 300px;
  color: #999;
  display: inline;
  line-height: 1.7;
  font-family: "Helvetica Neue";
  cursor: default;
}

li:before {
  content: " // ";
  //font-size: 20px;
  margin-left:4px;
  margin-right:4px;
  color: black;
}

li:first-child:before {
  content: "";
  padding-right: 0px;
}

li:hover {
  color: black;
}
