.container {
  max-width: 980px;
  margin: 60px auto;
}

.content {
  margin: 0 1.2em;
}

ul {
  margin: 0;
  padding: 0;
  columns: 300px;
  column-fill: auto;
  column-gap: 20px;
  text-align: justify;
}

li {
  color: #999;
  display: inline;
  line-height: 1.7;
  font-family: "Helvetica Neue";
  cursor: default;
}

li:before {
  content: " // ";
  margin-left:4px;
  margin-right:4px;
  color: black;
}

li:first-child:before {
  content: "";
  padding-right: 0px;
}

li:hover {
  color: black;
}
