$colors: red, orange, yellow, lime , blue, purple;
$colors2: #111, #222, #333, #444, #555, #666;
$repeat: 120; // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
  li:nth-child(#{length($colors2)}n+#{$i}) {
    color: lighten(nth($colors2, random(length($colors2))), 20%);
  }
}

li {
  list-style: none;
  padding: 1em;
}

.container {
  max-width: 980px;
  margin: 60px auto;
}

.content {
  margin: 0 1.2em;
}

ul {
  margin: 0;
  padding: 0;
  columns: 300px;
  column-fill: auto;
  column-gap: 20px;
  text-align: justify;
}

li {
  //color: #999;
  color: getRandomColor(hex);
  display: inline;
  line-height: 1.7;
  font-family: "Helvetica Neue";
  cursor: default;
  padding: 0;
}

li:before {
  content: " // ";
  margin-left: 4px;
  margin-right: 4px;
  color: black;
}

li:first-child:before {
  content: "";
  padding-right: 0px;
  padding-left: 0px;
  //margin-left: -6px; // Hack for extra space in iOS
  margin-right: -12px; // Hack for extra space in iOS
}

li:hover {
  color: black;
}
