/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background: #e7dfdd;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}
