:host {
  position: fixed;
  right: 0;
  top: 6em !important;
  z-index: 200;
}

.instaTab {
  width: 200px;
  height: 48px;
  border-radius: 8px 0 0 8px;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(152px, 0px);
  transition-duration: 500ms;
  transition-delay: 200ms;
}

.instaTab:hover {
  transform: translate(0px, 0px);
}

.instaLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 8px;
  text-decoration: none;
}

.instaLink:visited {
  color: black;
}

.instaLogo {
  height: 32px;
}

.instaLogo:hover {
  opacity: 1;
}

.follow {
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  margin-left: 8px;
}
