#main {
  padding-top: 6em;
  margin: auto;
}

.centered {
  margin: 0 auto;
}

.article {
  line-height: 0.9em;
  margin: 0;
  width: 380px;
  margin: 0 1.2em;
  margin-bottom: 1.2em;
}

.refreshBtn {
  position: fixed;
  top: 10px !important;
  right: 10px;
  font-size: 50px;
  z-index: 500;
}

.loadMore {
  position: fixed;
  top: 10px !important;
  right: 200px;
  font-size: 50px;
  z-index: 500;
}
